/* footer */
@use '../helpers/vars' as *;

.footer {
	margin-top: auto;
	padding-top: 60px;
	padding-bottom: 60px;

	@media (max-width: 768px) {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	&__copy {
		text-align: center;
		display: block;
		font-size: 22px;
		font-family: $serif;
		font-feature-settings: normal;
		line-height: 47px;

		@media (max-width: 768px) {
			font-size: 14px;
			line-height: 30px;
		}
	}
}