.flow {
	.container {
		max-width: 1048px;

		@media (max-width: 1024px) {
			padding-left: 32px;
			padding-right: 32px;
		}
	}

	&__inner {
		padding-left: 32px;

		@media (max-width: 1760px) {
			padding-left: 0;
		}

		.app__title {
			padding-left: 17px;

			@media (max-width: 768px) {
				padding-left: 0;
			}
		}
	}

	&__content {
		margin-top: 24px;
		counter-reset: num;

		@media (max-width: 960px) {
			margin-top: 40px;
		}
	}

	&__list {
		display: block;
		position: relative;
		padding-right: 108px;
		margin-top: 64px;

		&:first-child {
			margin-top: 0;
		}

		@media (max-width: 1024px) {
			padding-right: 49px;
		}

		@media (max-width: 960px) {
			margin-top: 60px;
			padding-right: 32px;
		}

		@media (max-width: 768px) {
			padding-right: 29px;
			margin-top: 40px;
		}
	}

	&__list-banner {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
		height: 100%;
		width: 59px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: 1024px) {
			right: -32px;
		}

		@media (max-width: 960px) {
			width: 47px;
		}

		&.green-bg {
			background-color: #A7FFE7;
		}

		&.light-green-bg {
			background-color: #C7FFF0;
		}

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50%;
			font-size: 30px;
			font-family: $midashi;
			writing-mode: vertical-lr;
			text-transform: uppercase;
			line-height: 40px;
			word-break: inherit;
			letter-spacing: 12px;
			color: $grey;

			@media (max-width: 960px) {
				font-size: 20px;
				line-height: 30px;
			}
		}
	}

	&__item {
		margin-top: 64px;

		&:first-child {
			margin-top: 0;
		}

		@media (max-width: 960px) {
			margin-top: 50px;
		}

		@media (max-width: 768px) {
			margin-top: 40px;
		}
	}

	&__item-title {
		position: relative;
		font-size: 31px;
		line-height: 41px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 48px;
		font-family: $midashi;
		font-weight: 400;

		@media (max-width: 1024px) {
			margin-bottom: 40px;
		}

		@media (max-width: 960px) {
			font-size: 25px;
			line-height: 33px;
		}

		@media (max-width: 768px) {
			margin-bottom: 16px;
		}

		&:before {
			counter-increment: num;
			content: counter(num, decimal-leading-zero) '-';
			font-size: 38px;
			line-height: 51px;
			transform: translateY(2px);
			font-family: $din;
			margin-right: 6px;
			font-weight: 700;

			@media (max-width: 960px) {
				font-size: 30px;
				line-height: 40px;
				margin-top: -2px;
			}
		}
	}

	&__item-content {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		@media (max-width: 768px) {
			flex-direction: column;
			justify-content: center;
			max-width: 282px;
			width: 100%;
			margin-right: auto;
			margin-left: auto;
		}
	}

	&__item-content-img {
		width: 50%;
		display: block;

		@media (max-width: 1024px) {
			width: 453px;
		}

		@media (max-width: 960px) {
			width: 360px;
		}

		@media (max-width: 768px) {
			margin-bottom: 24px;
			width: 100%;
		}

		.english {
			display: none;
		}

		img {
			display: block;
			width: 100%;
			height: 337px;
			object-fit: contain;

			@media (max-width: 960px) {
				height: 267px;
			}

			@media (max-width: 768px) {
				height: 208px;
			}
		}
	}

	&__item-content-info {
		width: 50%;

		@media (max-width: 1760px) {
			width: 393px;
		}

		@media (max-width: 960px) {
			width: 312px;
		}

		@media (max-width: 768px) {
			width: 100%;
		}

		.text {
			line-height: 35px;

			@media (max-width: 1024px) {
				line-height: 30px;
			}
		}
	}
}

.lang-en {
	.flow {
		&__list-banner {
			span {
				font-weight: 400;
				font-style: normal;
				font-family: $din;
				letter-spacing: 1.2px;

				@media (max-width: 960px) {
					font-size: 30px;
					line-height: ▋