/*!* helpers parts *!*/
@use "helpers/all" as *;

body {
	background-color: $white;
}

.app__title {
	color: $grey;
}

.text {
	color: $grey;
}

.header {
	background-color: $white;

	&.fixed {
		background-color: rgba($white, .7);
	}

	&__nav {
		@media (max-width: 1024px) {
			&:after {
				background-color: rgba(#000, .7);
			}
		}
	}

	&__nav-link-inner {
		color: $grey;

		@media (max-width: 1024px) {
			color: $white;
		}
	}

	&__nav-link-icon {
		svg, path {
			fill: $grey;

			@media (max-width: 1024px) {
				fill: $white;
			}
		}
	}

	.hamburger-btn {
		@at-root :root.hover &:hover {
			.hamburger-btn__line {
				background-color: rgba($grey, .8);
			}
		}

		&__line {
			background-color: $grey;
		}
	}
}

.visual-top {
	&__bg {
		background-image: url("#{$images}top-light.jpg");

		@media (max-width: 470px) {
			background-image: url("#{$images}top-light-sp.jpg");
		}
	}

	&__text {
		color: $grey;
	}
}

.flow {
	&__item-title {
		color: $grey;

		&:before {
			color: $grey;
		}
	}
}

.about {
	&__person-list-quest, &__person-list-answer {
		color: $grey;
	}
}

.contact {
	&__form-group {
		input, textarea {
			background-color: transparent;
			color: $grey;

			&:-webkit-autofill,
			&:-webkit-autofill:hover,
			&:-webkit-autofill:focus,
			&:-webkit-autofill:active {
				-webkit-box-shadow: 0 0 0 30px #fff inset !important;
				box-shadow: 0 0 0 30px #fff inset !important;
				-webkit-text-fill-color: #000;
			}
		}
	}

	&__form-label {
		label {
			color: $grey;
		}
	}
}

.footer__copy {
	color: #222;
}

.scroll-to-top__icon {
	svg, path {
		fill: #7B8384;
	}
}