<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
	<meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- og format -->
	<meta property="og:title" content="">
	<!-- bar color -->
	<meta name="theme-color" content="#fff">
	<meta name="msapplication-navbutton-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="#fff">
	<!-- favicon -->
	<link rel="shortcut icon" href="images/icon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="images/icon/apple-touch-icon152.png" sizes="152x152">
	<title>Flow</title>

	<script>

		(function (d) {
			var config = {
					kitId: 'ioo8rmz',
					scriptTimeout: 3000,
					async: true
				},
				h = d.documentElement, t = setTimeout(function () {
					h.className = h.className.replace(/\bwf-loading\b/g, '') + ' wf-inactive';
				}, config.scriptTimeout), tk = d.createElement('script'), f = false, s = d.getElementsByTagName('script')[0], a;
			h.className += ' wf-loading';
			tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
			tk.async = true;
			tk.onload = tk.onreadystatechange = function () {
				a = this.readyState;
				if (f || a && a != 'complete' && a != 'loaded') return;
				f = true;
				clearTimeout(t);
				try {
					Typekit.load(config);
				} catch (e) {
				}
			};
			s.parentNode.insertBefore(tk, s);
		})(document);
	</script>
</head>


<!--in english add class 'lang-en' body-->

<body>
<div class="wrapper" id="wrapper">
	<header class="header" id="header">

		<a href="index.html" class="header__logo">
			<span class="visually-hidden">
				Perksh Package
			</span>
		</a>
		<div id="overlay"></div>
		<div class="header__nav-wrap" id="nav-menu">
	
			<nav class="header__nav">
				<ul class="header__nav-list">
					<li class="header__nav-item">
						<a href="flow.html" class="header__nav-link">
							<span class="header__nav-link-inner">
							WORK FLOW
						</span></a>
					</li>
	
					<li class="header__nav-item">
						<a href="about.html" class="header__nav-link">
							<span class="header__nav-link-inner">
							ABOUT
						</span></a>
					</li>
	
					<li class="header__nav-item">
						<a href="contact.html" class="header__nav-link">
							<span class="header__nav-link-inner">
							CONTACT
						</span></a>
					</li>
					<li class="header__nav-item instagram">
						<a href="https://www.instagram.com/shohei_yk/" target="_blank" class="header__nav-link">
							<span class="header__nav-link-icon">
								<svg xmlns="http://www.w3.org/2000/svg" width="56" height="57" viewBox="0 0 56 57"><path
									d="M41.748 57.33H14.423a8.913 8.913 0 00-.944-.275A15.894 15.894 0 01.087 41.533 913.76 913.76 0 01.1 15.46a15.669 15.669 0 0110.268-14.3C11.682.676 13.069.382 14.423 0h27.325a9 9 0 00.943.275A15.893 15.893 0 0156.085 15.8q.187 13.034-.013 26.073A15.654 15.654 0 0145.8 56.167c-1.31.488-2.7.78-4.052 1.163zM5.513 28.664c0 3.992-.022 7.985 0 11.977.045 6.487 4.427 10.921 10.9 10.956q11.643.063 23.286 0c6.532-.029 10.931-4.46 10.953-11.01q.04-11.921 0-23.842C50.631 10.2 46.219 5.76 39.7 5.732q-11.587-.049-23.174 0C9.945 5.754 5.547 10.191 5.516 16.8c-.016 3.954-.004 7.909-.003 11.864z"
									fill="#363636"/><path
									d="M13.448 29.15a14.64 14.64 0 1115.118 14.189A14.614 14.614 0 0113.448 29.15zm24.94-.437a10.3 10.3 0 10-10.375 10.22 10.48 10.48 0 0010.375-10.224z"
									fill="#363636"/><path
									d="M43.243 10.263a3.122 3.122 0 013.209 3.143 3.213 3.213 0 01-3.184 3.322 3.247 3.247 0 01-3.166-3.242 3.143 3.143 0 013.141-3.223z"
									fill="#363636"/></svg>
						</span></a>
					</li>
				</ul>
			</nav>
	
			<div class="header__lang-btn-wrap">
				<a href="#" class="header__lang">
				<span class="header__lang-inner">
					ENGLISH
				</span>
				</a>
				<button class="hamburger-btn" id="hamburger-btn">
					<span class="hamburger-btn__line first"></span>
					<span class="hamburger-btn__line second"></span>
					<span class="hamburger-btn__line third"></span>
				</button>
	
			</div>
		</div>
	
	</header>
	
	<div class="app" id="app">

		<div class="offset-top">
			<section class="flow">
				<div class="container">
		<div class="flow__inner">
			<h1 class="app__title">
				WORK FLOW
			</h1>

			<div class="flow__content">
				<ul class="flow__list">
					<li class="flow__item">
						<h2 class="flow__item-title">
							ヒアリング
						</h2>

						<div class="flow__item-content">
							<div class="flow__item-content-img">
								<img class="lazy" data-src="images/gif/hearing.gif" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="img desc">
							</div>
							<div class="flow__item-content-info">
								<p class="text">
									Webサイト内からご連絡いただきましたらご対面、またはZOOMでヒアリングをして商品の課題を洗い出し、効果的なパッケージデザインをご提案します。
								</p>
							</div>
						</div>
					</li>
					<li class="flow__item">
						<h2 class="flow__item-title">
							初回デザイン
						</h2>

						<div class="flow__item-content">
							<div class="flow__item-content-img">
								<img class="lazy" data-src="images/gif/drafting.gif" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="img desc">
							</div>
							<div class="flow__item-content-info">
								<p class="text">
									ご依頼をいただいて10日ほどで最初のデザイン案をご提案させていただきます。叩き台なのでそこからさらにどういうデザインにしていくかを打ち合わせさせていただきます。
								</p>
							</div>
						</div>
					</li>
					<li class="flow__item">
						<h2 class="flow__item-title">
							お見積もり
						</h2>

						<div class="flow__item-content">
							<div class="flow__item-content-img">
								<img class="lazy" data-src="images/gif/estimate.gif" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="img desc">
							</div>
							<div class="flow__item-content-info">
								<p class="text">
									ヒアリングさせていただいた仕様や生産数をもとに、資材のお見積もりをご提案させていただきます。
								</p>
							</div>
						</div>
					</li>
					<li class="flow__list-banner light-green-bg">
								<span>
									ここまで無料
								</span>
					</li>
				</ul>

				<ul class="flow__list">
					<li class="flow__item">
						<h2 class="flow__item-title">
							デザイン
						</h2>

						<div class="flow__item-content">
							<div class="flow__item-content-img">
								<img class="lazy" data-src="images/gif/design.gif" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="img desc">
							</div>
							<div class="flow__item-content-info">
								<p class="text">
									初回デザインで決定した方向性をもとにより具体的なデザイン作業を進めさせていただきます。デザイン料の50％を前受金として頂戴いたします。
								</p>
							</div>
						</div>
					</li>
					<li class="flow__item">
						<h2 class="flow__item-title">
							校正、出稿
						</h2>

						<div class="flow__item-content">
							<div class="flow__item-content-img">
								<img class="lazy japan" data-src="images/gif/proofreading_japanese.gif" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="img desc">
								<img class="lazy english" data-src="images/gif/proofreading_english.gif" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="img desc">
							</div>
							<div class="flow__item-content-info">
								<p class="text">
									デザインが完成しましたらデザインや表示項目に間違いがないかを校正して協力会社にデータ出稿をします。
								</p>
							</div>
						</div>
					</li>
					<li class="flow__item">
						<h2 class="flow__item-title">
							納品
						</h2>

						<div class="flow__item-content">
							<div class="flow__item-content-img">
								<img class="lazy japan" data-src="images/gif/derivery_japanese.gif" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="img desc">
								<img class="lazy english" data-src="images/gif/derivery_english.gif" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="img desc">
							</div>
							<div class="flow__item-content-info">
								<p class="text">
									印刷が完成しましたらパッケージの完成品をご指定の住所にお送りします。納品確認後残りのデザイン代と資材代をお支払いただきお取引終了となります。
								</p>
							</div>
						</div>
					</li>
					<li class="flow__list-banner green-bg">
								<span>
									ここから有料
								</span>
					</li>
				</ul>
			</div>
		</div>

				</div>
			</section>
		</div>

	</div>
	<footer class="footer">
		<button class="scroll-to-top" data-anchor id="scroll-top">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14">
				<g fill="#7B8384">
					<path d="M0 0h24v2H0z"/>
					<path d="M5.888 14H1l11-9 11 9h-4.889L12 9l-6.112 5z"/>
				</g>
			</svg>
		</button>
	
		<span class="footer__copy">
	&copy;Perksh Package All right reserved.
		</span>
	
	</footer>
	
	
</div>
</body>
</html>
